*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
.ativo a, nav a:hover{
    background-color: #39aae1;
    color:#fff;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color:#727272;
}
/*---------------------------*/
/*BANNER CENTRAL*/
.column{
    flex-direction: column;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}
#banner .textoBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
#banner .textoBanner h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0 2px 0 #252525;
    max-width: 350px;
}
#banner .textoBanner h2{
    color: #fff;
    font-size: 22px;
    text-shadow: 0 1px 0 #252525;
    max-width: 330px;
    margin-top: 30px;
}
#banner .cardsBanner{
    display: flex;
    background-color: brown;
    height: 210px;
}
.card{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.tituloCard{
    font-size: 22px;
}
.descCard{
    font-size: 14px;
    margin: 20px 0;
   
}
.btnCard{
    border: 2px solid #fff;
    text-decoration: none;
    padding: 8px;
    margin-top: 5px;
    font-size: 12px;
    color:#fff;
}
.descCard3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4c6ebe;
    padding-bottom: 12px;

}

#card1{
    background-color: #39aae1;
}
#card2{
    background-color: #0079c7;
}#card3{
    background-color: #2b4c99;
}
/*------------------------------------------------*/
/*ASIDE*/
/*TITULOS DO BOX PRINCIPAL*/
.boxTituloCp{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 20px;
}
.boxTituloCp span{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.barraTituloCp{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
/*---------------------------------------------------*/
/*CONTEUDO PRINCIPAL DO SITE*/
#conteudoPrincipal{
    display: flex;
    justify-content: center;
}
#conteudoPrincipal #boxArtigos{
    flex: 2;
}

#conteudoPrincipal aside{
    flex: 1;
}

.boxConteudoWidget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxConteudoWidget .blocos{
    width: 150px;
    height: 130px;
    background-color:  #36a9e1;
    margin-bottom: 30px;
}
#containerContato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.boxContato{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #cecdcd;
    padding: 6px 0;
}
.boxContato span,.boxContato strong{
    font-size: 14px;
}
.boxContato .iconContato{
    background-color: #727272;
    width: 30px;
    padding: 5px;
    margin-right: 9px;
}
.iconContato img{
    width: 100%;
}
.boxContato span a{
    text-decoration: none;
}
#descMake{
    border-bottom: 1px solid #cecdcd;
}
#descMake p{
    margin-bottom: 16px;
    font-size: 16px;
}


/*SECAO DOS ARTIGOS*/
#boxConteudoArtigos{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;    
    min-width: 300px;
    margin-right: 10px;
}
article a{
    text-decoration: none;
}
article .boxDataArtigo{
    display: flex;
}
article .dataArtigo{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .comentArtigo{
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .thumbnail_artigo{
    margin-top: 30px;
}
article .thumbnail_artigo img{
    width: 100%;
    height: auto;
}
article .tituloArtigo{
    margin: 25px 0;
    font-size: 22px;
    font-weight: bold;
    color:#000;
}
article .resumoArtigo{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 19px;
    margin-bottom: 30px;
}
/*-----------------------*/
/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.cardsFooter{
    display: flex;
    width: 100%;
}
.cardsFooter .tituloCardFt{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.cardsFooter .textCardFt{
    font-size: 14px;
    font-weight: 400;
}
#cardFt1,#cardFt2,#cardFt3{
    flex:1;
    display: flex;
flex-direction: column;
    color:#fff;
    padding: 20px;
}
#cardFt1{
    background-color: #39aae1;
}
#cardFt2{
    background-color: #0079c7;
}#cardFt3{
    background-color: #2b4c99;
}

.areaFooter{
    display: flex;
    width: 100%;
}
#areaFt1,#areaFt2,#areaFt3{
    flex: 1;
    color: #fff;

}
footer .boxTituloCp span{
    color: #fff;
}
footer #footerCreditos{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    color: #5c5c5c;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}